.compose {
  background-color: #0b5ed7;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid #0b5ed7;
  color: white;
}
.text-with-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
.setcursor {
  cursor: pointer;
}
.golden-text {
  color: goldenrod;
}
